.App {
  text-align: center;
}


#title {
  color: brown
}

#menu {
  background-color: brown;
  color: white;
  padding-top: 20px;
}

.card {
  background-color: rgb(234, 48, 48);
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
}

.card img {
  border-radius: 10px;
}